/* CSS Document */

html {
	background-color: black;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

	body {
		background-color: #A39893;
		/* Use Flexbox to center content */
		display: flex;
		flex-direction: column; /* Stack items vertically */
		align-items: center;    /* Center items horizontally */
		justify-content: center;/* Center items vertically */
		min-height: 100vh;      /* Make body at least the height of the screen */
		margin: 0;              /* Remove default browser margin */
		padding: 2rem 0;        /* Add some padding for spacing */
	}

	header h1 {
		font-size: 50px;
		text-align: center;
	}

	#man, #hwa, #hua, #nov, #ln{
		display: inline-block;
		margin-top: 2rem; /* Add some space between tables */
	}

	table, .headRow, td {
		border: ridge 5px;
		border-collapse: separate;
		padding: 8px;
	}

	table {
		background-color: darkgray;
	}

	td {
		background-color: antiquewhite
	}

.graph-container {
            padding: 20px;
            display: inline-block;
            border-radius: 8px;
            /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
			align-content: center;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 20px;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            background-color: black;
            color: white;
            border-radius: 5px;
			
        }
        button:hover {
            background-color: #0056b3;
        }

footer {
	padding: 10px;
	margin-top: 5%;
	text-align: center;
	width: 20%;
	height: 30px;
	background-color: gray;
	border: ridge;
}

footer a {
	text-decoration-style: none;
	text-decoration-line: none;
	color: saddlebrown;
}